@import './../../global_styles/index.scss';
.slide-content-wrapper-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.slide-heading {
    font-size: calc(0.025 * 100vw);
    inline-size: 40rem;
    overflow-wrap: break-word;
    margin-bottom: calc(0.02 * 100vh);
}

.slide-heading-span {
    background-color: $primary-black;
    color: $primary-white;
}

.slide-paragraph {
    font-size: calc(0.01 * 100vw);
    inline-size: 28.125rem; 
    overflow-wrap: break-word;
    margin-bottom: calc(0.02 * 100vh);
}

.slide-btn {
    display: flex;
    justify-content: center;
    position: inline;
    font-size: $header-font-size;
    background-color: $secondary-red;
    color: $primary-white;
    padding: 1rem 2rem;
    max-width: 200px;
    border-radius: $base-border-radius * 1.5;
    &:hover {
        opacity: 0.5;
    }
    &:active {
        transform: scale(105%);
    }
}

.slide-img {
    width: 100%;
}


@include laptop {
    .slide-heading {
        inline-size: 20rem;
    }
    .slide-paragraph {
        inline-size: 17rem;

    }
    .slide-btn {
        font-size: $header-font-size * 0.7;
        padding: .5rem 1rem;
    }
}

@include mobile {
    .slide-content-wrapper {
        position: relative;
        margin-top: 1rem;
        padding: 1rem;
    }

    .slide-content-wrapper-text {
        backdrop-filter: blur(2px);
        z-index: 1;
    }

    .slide-heading {
        font-size: calc(0.03 * 100vw);
        margin-top: .45rem;
        inline-size: 20rem;
    }
    .slide-paragraph {
        font-size: calc(0.02 * 100vw);
        inline-size: 17rem;
    }
    .slide-btn {
        font-size: calc(0.016 * 100vw);
        padding: .25rem .5rem;
    }

    .slide-img {
        position: absolute;
        opacity: 0.4;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
