@import './../../global_styles/index.scss';
.slide-content-wrapper-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-heading {
    font-size: $heading-one-size;
    inline-size: 640px;
    overflow-wrap: break-word;
    margin-bottom: 2rem;
}

.slide-heading-span {
    background-color: $primary-black;
    color: $primary-white;
}

.slide-paragraph {
    font-size: $desc-paragraph-size;
    inline-size: 450px; 
    overflow-wrap: break-word;
    margin-bottom: 2rem;
}

.slide-btn {
    display: flex;
    justify-content: center;
    position: inline;
    font-size: $header-font-size;
    background-color: $secondary-red;
    color: $primary-white;
    padding: 1rem 2rem;
    max-width: 200px;
    border-radius: $base-border-radius * 1.5;
    &:hover {
        opacity: 0.5;
    }
    &:active {
        transform: scale(105%);
    }
}

.slide-img {
    width: 100%;
}



