@import './../../global_styles/index.scss';
@import './../../global_styles/index.css';

header {
    transition: transform .3s ease-in;
    font-size: $header-font-size;
}

nav {
    box-shadow: $base-box-shadow;
    align-items: center;
    position: d;
}

img {
    width: 20px;
}

.logo-wrapper {
    justify-content: center;
}

.logo {
    width: 40px;
    
}

.ul-left, .ul-right {
    gap: 3rem;
    padding: .3rem;
}

.ul-right {
    align-items: center;
}

.ul-right-el-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ul-right-el-wrapper-order {
    background-color: $secondary-red;
    color: $primary-white;
    border-radius: $base-border-radius;
    padding: .6rem 1.2rem;
}









.clickable {
    &:hover {
        opacity: 0.6;
    }
    &:active {
        transform: scale(103%);
    }
}



